div.item {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div.item-content {
  display: flex;
  flex-grow: 3;
}

div.item-title {
  display: inline-block;
  margin: 5px 5px 5px 10px;
}

button.item-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: max-content;
  height: max-content;
  outline: none;
}

i.material-icons {
  vertical-align: middle;
  margin-left: 5px;
}
